{% extends 'base.html.twig' %}

{% form_theme formDeckBuilder 'bootstrap_4_layout.html.twig' %}

{% block title %}Deck Builder{% endblock %}

{% block body %}
    <div class = "container">
        <h1>Deck Builder</h1>
        {{ form_start(formDeckBuilder) }}
            {{ form_row(formDeckBuilder.deckName, {'attr' : {'placeholder': "Enter the name of your new Deck"}}) }}
            <button type="submit" class="btn btn-success">Add</button>
        {{ form_end(formDeckBuilder) }}
    </div>

    <div class = "container">
            <h3>List of your decks</h3>
            <ul>
                {% for d in decks %}
                    <a href="{{ path('deckBuilder.show', {'id': d.id}) }}"><li>{{ d.deckName }}</li> </a>
                {% endfor %}
            </ul>
    </div>
{% endblock %}