{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <br>

        <a class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Card filter
        </a>
        <div class="collapse" id="collapseExample">
            <div class="jumbotron">
                {{ form_start(form) }}

                {{ form_rest(form) }}
                <button class="btn btn-outline-danger">Search</button>
                {{ form_end(form) }}
            </div>
        </div>
        <br><br> <!-- A MODIFIER !-->

        {% for card in cards %}
            <a href="{{ path('manager.show', {'id': card.id}) }}"><img src={{ card.url }} alt="" height="320" width="210"></a>
        {% endfor %}

    </div>
{% endblock %}