{% extends 'base.html.twig' %}

{% form_theme formInscription 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class = "container">

        <h1> Inscription </h1>
        {{ form_start(formInscription) }}

        {{ form_row(formInscription.username, {'attr': {'placeholder': "Identifiant"}}) }}

        {{ form_row(formInscription.password, {'attr': {'placeholder': "Mot de passe"}}) }}

        {{ form_row(formInscription.confirm_password, {'attr': {'placeholder': "Confirmer le mot de passe"}}) }}

        {{ form_row(formInscription.email, {'attr': {'placeholder': "John17@example.com"}}) }}

        <button type="submit">S'inscrire</button>

        {{ form_end(formInscription) }}
    </div>

{% endblock %}
